@page "/example7"

<style>
    body {
        background: #888;
    }
</style>

<h3>Example 7 - Animate a sprite</h3>

<SpriteComponent
    Url="/res/hit-yellow.png?asd" 
    SpriteWidth="256"
    SpriteHeight="256"
    Duration="TimeSpan.FromSeconds(0.5)" 
    ImagesPerRow="4"
    TotalImages="16"
    style="width: 512px; height: 256px;"
    />
